<h1><%= @cohort.name %></h1>

<h2>Student List:</h2>
<ul>
    <% @students.each do |student| %>
    <li><%= link_to(student.name, student_path(student)) %></li>
    <% end %>
</ul>

<%= render 'create' %>