<h1><%= @cohort.name %>
<%= link_to 'edit this cohort', edit_cohort_path(@cohort), class: 'btn btn-large btn-primary' %>
</h1>
    <br>
    <br>
<%= render 'create' %>
    <br>
    <br>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Github Username</th>
      <th>edit/delete</th>
    </tr>
  </thead>
  <tbody>
    <%= render @students, cohort: @cohort %>
  </tbody>
</table>
