<h3>
  <%= "Total number of Groups create: #{@groups.count}"%>
  <%= link_to 'Back to Groups', :back, class:"btn btn-primary" %>
</h3>

<br>
<% i = 0 %>

<% @groups.each do |group|  %>
  <% i += 1 %>
  <%= "Group ##{i}" %>
  <ul>
    <% group.students.each do |student| %>
      <li><%=  student.name %></li> 
    <% end  %>
  </ul>
  <br>
<% end  %>
